body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
<<<<<<< HEAD
=======

>>>>>>> c53c9966ffb03a562d2f420c694231d5f609648e
.caixa {
    width: 500px;
    height: auto;
    background-color: gray;
    color: white;
    border: 2px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px gray;
    align-items: center;
}

button {
    display: block;
    text-align: center;
    background-color: gray;
    padding: 10px;
    margin: 5px auto;
    border-radius: 10px;
}

button:hover {
background-color: white;
}
